.auth-container {
  width: 50%;
  height: 400px;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
  margin: 120px auto;
  background: #ffffff;
  border-radius: 4px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .auth-container {
    width: 95%;
    height: 320px;
    margin-top: 130px auto;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .auth-container {
    width: 70%;
    height: 350px;
    margin: 170px auto;
  }
}
.right-background {
  background: #0e4c28;
  width: 43%;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans serif;
  color: white;
}

.left-background {
  background: #ffffff;
  width: 57%;
  height: 100%;
  padding: 20px;
  padding-right: 25px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: left-background;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes left-background {
  from {
    transform: translate3d(5%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.form-container {
  display: flex;
  flex-wrap: wrap;
}
.businessform-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 35px;
  margin-top: -35px;
}
.sign-in-title {
  color: #0e4c28;
  font-weight: 500;
  font-size: 11px;
  line-height: 2rem;
  word-spacing: 0.1rem;
  cursor: context-menu;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: -12px;
  text-transform: initial;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .title {
    word-spacing: 0;
    font-size: 10px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .left-background {
    width: 57%;
  }
}

.sign-in-form-input {
  text-transform: lowercase !important;
  margin-bottom: 15px !important;
}
.sign-in-form-input:focus {
  text-transform: lowercase !important;
  margin-bottom: 15px !important;
  border: 2px solid #0e4c28 !important;
}

.form-input {
  text-transform: lowercase !important;
  /* border: 1px solid #cac9c9 !important; */
  margin-bottom: 15px !important;
}
.form-input:focus {
  outline: none;
  border: 1px solid #0e4c28 !important;
}
.form-input:disabled:hover {
  outline: none;
  border: 1px solid #e9e9e9 !important;
}
/* .input-grid {
  margin-top: 20px !important;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .input-grid {
    margin-top: 30px !important;
  }
}

.sign-up-input-grid {
  margin-top: 20px !important;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .sign-up-input-grid {
    margin-top: 30px !important;
  }
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.hello-friend {
  font-weight: bold !important;
  font-size: 14px !important;
  word-spacing: 0.2rem;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  cursor: context-menu;

  color: white !important;
}

.question {
  font-size: 12px;
  word-spacing: 0.1rem;
  line-height: 2rem;
  cursor: context-menu;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .question {
    font-size: 12px;
    word-spacing: 0;
  }
}

.hr {
  border: 0.5px solid #ffffff;
  width: 50px;
  margin-top: 15px;
  margin-left: 75px;
}

.instruction {
  font-weight: 400;
  font-size: 12px;
  margin-top: 35px;
  line-height: 1.5rem;
  position: relative;
  cursor: context-menu;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .instruction {
    font-size: 8px;
    line-height: 1rem;
  }
}

.validation-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.complete-signup-container {
  width: 550px;
  height: auto;
  margin: 0 auto;
  margin-top: 120px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .complete-signup-container {
    width: 95%;
  }
}
.error-display {
  background: rgb(231, 91, 91);
  color: white;
  width: auto;
  height: 45px;
  position: absolute;
  left: 40%;
  top: 5%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 5px;
  animation: error-display;
  font-size: 13px;
}
.err-animate {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes error-display {
  from {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 100%, 0);
  }
}
.error-message {
  margin-left: 20px;
}
.email-message-sign-up {
  width: 30%;
  padding: 20px;
  margin: 120px auto;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .email-message-sign-up {
    width: 95%;
    margin: 120px auto;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .email-message-sign-up {
    width: 70%;
    height: 200px;
    margin-top: 200px;
  }
}
.email-message {
  width: 30%;
  height: 150px;
  padding: 20px;
  margin: 120px auto;
  background: #ffffff;
  border-radius: 4px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .email-message {
    width: 95%;
    height: auto;
  }
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .p3 {
    top: 58%;
  }
}
.p4 {
  position: absolute;
  top: 75%;
  font-size: 13px;
  text-transform: capitalize;
  color: #0e4c28;
  width: 30%;
}

.submit-button {
  float: right;
  margin-top: 10px;
}

.cancel-button {
  margin-top: 130px !important;
  float: right;
  height: 30px;
  margin-right: 10px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .cancel-button {
    margin-top: 180px;
  }
}
.init-signup-back {
  cursor: pointer;
}

.resend-otp {
  cursor: pointer;
  position: absolute;
  bottom: 2%;
}

.back-auth {
  color: #0e4c28;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  /* top: 20%; */
}

/* .confirm-email {
  position: absolute;
  top: -16%;
  color: white;
  font-size: 15px;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-transform: capitalize;
} */

.confirm-email {
  color: #0e4c28;
  font-size: 12px;
  cursor: context-menu;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.email-display {
  color: #0e4c28;
  font-size: 12px;
}

.tabs-bar {
  width: 100%;
  height: 70px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 3px 4px -2px rgb(167, 166, 166);
}

.tabs-button-container {
  display: flex;
  position: relative;
  border: 1px solid red;
}
.tabs-button {
  display: flex;
  border: none;
  background: transparent;
  font-size: 16px;
  height: 40px;
  width: 150px;
  margin-left: 150px;
  margin-top: 30px;
  padding: 10px;
  text-transform: capitalize;
  color: #666;
  /* border-bottom: 1.5px solid #0E4C28; */
}
.active {
  display: flex;
  border: none;
  background: transparent;
  font-size: 16px;
  height: 40px;
  width: 150px;
  margin-left: 150px;
  margin-top: 30px;
  padding: 10px;
  text-transform: capitalize;
  color: #666;
  border-bottom: 1.5px solid #0e4c28;
}

.form-greeting-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs-form-greeting {
  font-size: 14px;
  color: rgb(33, 37, 41);
  margin-top: 20px;
}
.tabs-form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 0 0;
}
.tabs-form-input {
  border: 1px solid #cac9c9 !important;
  border-radius: 2px !important;
  margin-top: 2px !important;
  margin-bottom: 15px !important;
}
.tabs-form-input:hover {
  outline: none;
  border: 1px solid #222 !important;
}
.tabs-form-input:focus {
  outline: none;
  border: 2px solid #0e4c28 !important;
}

.tabs-form-input-disabled {
  text-transform: lowercase !important;
  border: 1px solid #cac9c9 !important;
  border-radius: 2px !important;
  margin-top: 2px !important;
  margin-bottom: 15px !important;
  pointer-events: none !important;
}
.tabs-form-input-disabled:hover {
  outline: none;
  border: 1px solid #cac9c9 !important;
}
.tabs-form-input-disabled:focus {
  outline: none;
  border: 1px solid #cac9c9 !important;
}

.phone-input {
  margin-top: 2px !important;
  margin-bottom: 15px !important;
  width: 100% !important;
}
.phone-input:hover {
  outline: none;
}
.phone-input:focus {
  outline: none;
}

.right-background-content {
  text-align: center;
  color: white;
}
.left-background-content {
  text-align: left;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .greeting {
    font-size: 13px;
    letter-spacing: 0;
    font-weight: lighter;
  }
}

hr.hr2 {
  border: 1px solid #ffffff;
  width: 50px;
  margin-top: 15px;
}

.sign-in-up-button {
  background: transparent;
  color: white;
  margin: 30px auto;
  border: 1px solid #ffffff;
  width: 70px;
  height: 35px;
  border-radius: 2px;
  padding: 6px;
  text-transform: capitalize;
  font-size: 12px;
  cursor: pointer;
  animation-name: left-background;
}
.sign-in-up-button:hover {
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-in-up-button:focus {
  outline: none;
}
.animated2 {
  animation-name: left-background;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .button {
    width: 60px;
    font-size: 13px;
  }
}

.form-label {
  font-size: 12px;
  color: #999;
  top: 70px;
  left: 25px;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  background: white;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .form-label {
    top: 70px;
    left: 38px;
  }
}
.form-label2 {
  font-size: 12px;
  color: #888;
  top: 70px;
  left: 25px;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  background: white;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .form-label2 {
    top: 138px;
    left: 38px;
  }
}
.form-label3 {
  font-size: 12px;
  color: #888;
  top: 142px;
  left: 25px;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  background: white;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .form-label3 {
    top: 204px;
    left: 38px;
  }
}
.form-label4 {
  font-size: 12px;
  color: #888;
  top: 70px;
  left: 25px;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  background: white;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .form-label4 {
    left: 40px;
    top: 70px;
  }
}
.form-label5 {
  font-size: 12px;
  color: #888;
  top: 135px;
  left: 25px;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  background: white;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .form-label5 {
    left: 40px;
    top: 138px;
  }
}
.form-input-field-checkbox {
  color: #999;
  float: left;
  margin-left: 10px;
  font-size: 14px;
  cursor: context-menu;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .form-input-field-checkbox {
    margin-left: 28px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .form-input {
    width: 170px;
    margin-left: 30px;
    height: 30px;
  }
}

.have-an-account {
  float: right;
  margin-right: 15px;
  font-size: 14px;
  color: #0e4c28;
  margin-top: -95px;
  cursor: pointer;
}

.forgot-pwd {
  float: right;
  font-size: 12px;
  color: #0e4c28;
  margin-top: 7px;
  text-transform: capitalize;
  cursor: pointer;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .forgot-pwd {
    /* margin-top: -2px; */
    margin-bottom: 10px;
    float: right;
    margin-left: 33px;
    font-size: 10px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .sign-in-btn-grid {
    margin-top: -15px !important;
  }
}

.sign-in {
  margin-top: 50px;
  margin-right: -120px;
}

.sign-in-button {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background: #0e4c28;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
}
.sign-in-button:hover {
  background: rgba(31, 58, 147, 1);
}
.sign-in-button:focus {
  outline: none;
  background: rgba(31, 58, 147, 1);
}
.sign-in-button:disabled {
  background: rgba(31, 58, 147, 0.746);
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .sign-in-button {
    width: 150px;
    float: left;
    margin-left: 45px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.sign-up {
  margin-top: 60px;
  float: right;
  margin-right: 17px;
  /* margin-bottom: 10px; */
}
.sign-up-button {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: none;
  background: #0e4c28;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
}
.sign-up-button:hover {
  background: rgba(31, 58, 147, 1);
}
.sign-up-button:focus {
  outline: none;
  background: rgba(31, 58, 147, 1);
}
.sign-up-button:disabled {
  background: rgba(31, 58, 147, 0.746);
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .sign-up-button {
    width: 150px;
    margin-right: 13px;
    font-size: 14px;
  }
}
.resend-email-container {
  width: 35%;
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  margin: 120px auto;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .resend-email-container {
    width: 90%;
    margin-top: 120px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1100px) {
  .resend-email-container {
    width: 70%;
  }
}
.resend-email {
  color: #0e4c28;
  font-weight: 500;
  font-size: 12px;
  line-height: 2rem;
  word-spacing: 0.1rem;
  cursor: context-menu;
  margin-left: 8px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.back-resend {
  color: #0e4c28;
  font-size: 25px;
  margin-left: 25px;
  cursor: pointer;
  margin-top: 15px;
}

.resend-message {
  width: 30%;
  height: 200px;
  padding: 20px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
  font-size: 12px;
  margin-top: 250px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .resend-message {
    width: 90%;
    height: 200px;
    margin-top: 150px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .resend-message {
    width: 70%;
    height: 200px;
    margin-top: 250px;
  }
}
.confirm-resend-email {
  color: #0e4c28;
  font-weight: 500;
  font-size: 14px;
  line-height: 2rem;
  word-spacing: 0.1rem;
  cursor: context-menu;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.contact-customercare-container {
  width: 400px;
  height: 185px;
  margin: 0;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-top: 55px solid #0e4c28;
  border-radius: 4px;
  color: #444;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
}

.forgot-password-container {
  width: 30%;
  height: auto;
  padding: 20px;
  padding-left: 15px;
  margin: 120px auto;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
  font-size: 12px;
  font-size: 12px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .forgot-password-container {
    width: 90%;
    height: auto;
    margin-top: 120px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .forgot-password-container {
    width: 60%;
    height: auto;
  }
}

.forgot-password-heading {
  color: #0e4c28;
  font-weight: 500;
  font-size: 12px;
  line-height: 2rem;
  word-spacing: 0.1rem;
  cursor: context-menu;
  margin-left: 9px;
  text-transform: capitalize;
}

.forgot-password-instruction {
  color: #777;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 9px;
  margin-bottom: 20px;
}
.password-reset-label {
  font-size: 13px;
  color: #888;
  padding-left: 3px;
  padding-right: 3px;
  background: white;
  position: absolute;
  left: 12%;
  top: 45%;
}
.password-reset-input {
  width: 80%;
  display: block;
  margin: 50px auto;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgb(175, 174, 174);
  font-size: 15px;
  padding: 10px;
}
.password-reset-input:hover {
  border: 1px solid black;
}
.password-reset-input:focus {
  border: 2px solid rgba(31, 58, 147, 1);
  outline: none;
}
.password-reset-button {
  width: 150px;
  height: 35px;
  border-radius: 5px;
  float: right;
  margin-right: 50px;
  margin-top: -15px;
  border: none;
  background: #0e4c28;
  color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
}
.password-reset-button:hover {
  background: rgba(31, 58, 147, 1);
}
.password-reset-button:focus {
  outline: none;
  background: rgba(31, 58, 147, 1);
}
.password-reset-button:disabled {
  background: rgba(31, 58, 147, 0.746);
}
.complete-password-reset-container {
  width: 35%;
  height: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 0px,
    rgba(9, 30, 66, 0.08) 0px 3px 3px 0px;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .complete-password-reset-container {
    width: 90%;
    height: auto;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .complete-password-reset-container {
    width: 60%;
    height: auto;
  }
}

.password-label {
  font-size: 13px;
  color: #888;
  padding-left: 3px;
  padding-right: 3px;
  background: white;
  position: absolute;
  left: 12%;
  top: 27%;
}
.confirm-password-label {
  font-size: 13px;
  color: #888;
  padding-left: 3px;
  padding-right: 3px;
  background: white;
  position: absolute;
  left: 12%;
  top: 52%;
}

.tabs-button-style {
  background: white;
}
.tabs-button-style:focus {
  outline: none;
}
