.App {
  position: relative;
  background-color: rgb(133, 132, 132);
  min-height: 100vh;
}
.loader {
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.spinner-background-opt {
  background: none;
  z-index: 1;
  min-height: 350px;
}
.right-background-content {
  text-align: center;
  color: white;
}
.left-background-content {
  text-align: center;
}
