@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans-Regular"),
    url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"),
    url(./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url(./assets/fonts/Open_Sans/OpenSans-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url(./assets/fonts/Open_Sans/OpenSans-Light.ttf), format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"),
    url(./assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato"), local("Lato-Regular"),
    url(./assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato"), local("Lato-Bold"),
    url(./assets/fonts/Lato/Lato-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local("Lato"), local("Lato-Italic"),
    url(./assets/fonts/Lato/Lato-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato"), local("Lato-Black"),
    url(./assets/fonts/Lato/Lato-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(./assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto"), local("Roboto-light"),
    url(./assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: local("Roboto"), local("Roboto-bold"),
    url(./assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu"), local("Ubuntu-Regular"),
    url(./assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu bold"), local("Ubuntu-bold"),
    url(./assets/fonts/Ubuntu/Ubuntu-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: local("Ubuntu Italic"), local("Ubuntu-Italic"),
    url(./assets/fonts/Ubuntu/Ubuntu-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: local("Ubuntu Light"), local("Ubuntu-Light"),
    url(./assets/fonts/Ubuntu/Ubuntu-Light.ttf), format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 600;
  src: local("Ubuntu Semibold Italic"), local("Ubuntu-SemiboldItalic"),
    url(./assets/fonts/Ubuntu/Ubuntu-MediumItalic.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: local("Ubuntu Bold Italic"), local("Ubuntu-SemiboldItalic"),
    url(./assets/fonts/Ubuntu/Ubuntu-BoldItalic.ttf) format("truetype");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Lato", "Ubuntu", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  background-color: #f8f8ff;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
}
html::-webkit-scrollbar {
  width: 7px;
  height: 2px;
}
/* The grabbable scrollbar button  */
html::-webkit-scrollbar-thumb {
  background: #0e4c28;
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

/* The vertical scrollbar background */
html::-webkit-scrollbar-track {
  background: #d1dadd;
}
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  color: #777;
  opacity: 1;
}

input::-webkit-calendar-picker-indicator:hover {
  color: #777;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator::after {
  content: "";
  display: block;
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-08-512.png)
    no-repeat right#777;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -16px;
}
/* ::-webkit-textfield-decoration-container { } */
::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
::-ms-reveal {
  display: none;
}
::-moz-placeholder {
  color: #777;
  font-family: "Ubuntu", "sans-seriff";
}
::placeholder {
  color: #777;
}
